* {
    margin: 0 auto;
    width: 700px;
}

.header {
    margin: 0 auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-top: 30px;
}

.inputToDo {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    height: 40px;
}

input::placeholder {
    transform: translateX(10px);
}

.btnToDo {
    background-color: #8bcd7a;
    margin-left: 10px;
    width: 25%;
    border: none;
    height: 40px;
    cursor: pointer;

    &:hover {
        background-color:#5feb08;
        transition: all .5s;
    }
}